<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@RenderSection("TitleSection", false)</title>
    <link href="~/Content/Syncfusion/material/ej.web.all.min.css" rel="stylesheet" />
    <link href="~/Content/Syncfusion/ej.widgets.core.material.min.css" rel="stylesheet" />
    <link href="~/Content/Syncfusion/material/ej.theme.min.css" rel="stylesheet" />
    <link href="~/Content/Syncfusion/responsive-css/ej.responsive.css" rel="stylesheet" />
    <link href="~/Content/Syncfusion/responsive-css/ejgrid.responsive.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("StyleSection", false)
    <style>
    .navbar-inverse {
    margin-top: -52px!important;
    background-color: #222222;
    border-color: #080808;
    height: 62px;
    border-radius: 0px;
}
    .img-align{
            padding-top: 11px;
            padding-left: 28px;
    }
    </style>
</head>
<body>

    <div class="navbar navbar-inverse title-bar">
        <span style="font-size:11.5pt;font-family:" Segoe UI","sans-serif"">
            <a href="http://www.syncfusion.com">
                <img border=0 id="_x0000_i1025" class="img-align"
                     src="http://d2g29cya9iq7ip.cloudfront.net/content/images/company-logos/syncfusion-logo.png"
                     alt="Syncfusion Logo">
            </a><o:p></o:p>
        </span>
        <ul class="nav navbar-nav navbar-right" style="margin-right:5px">
            @*<li> <a href="#">Hi, @User.Identity.Name</a></li>*@
            <li> <a href="/Home/Index" style="color:#fff">Log Out </a></li>
        </ul>
    </div> 
        <div class="body-content">
            @RenderSection("MainSection", required: false)
            <footer></footer>
        </div>    
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        <script src="~/Scripts/Syncfusion/jsrender.js"></script>
        <script src="~/Scripts/Syncfusion/ej.web.all.min.js"></script>
        <script src="~/Scripts/moment.min.js"></script>
        @RenderSection("ScriptSection", required: false)

</body>
</html>
